*{
    font-family: "Franklin Gothic Medium";
}

.first-class {
    background-color: blue;
    color: rgba(0, 255, 0, .5);
}

.second-class {
    size: 20px;
}

#only-oneID {
    background-color: #FF0000;
}